<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()

        <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/font-awesome/js/all.js"></script>
        <script src="~/font-awesome/js/all.min.js"></script>
        <script src="~/startbootstrap-sb-admin-2/js/sb-admin-2.js"></script>
        <script src="~/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>
    </div>
</body>
</html>
